@using kredi.Controllers;
@using kredi.Models;

@{
    Layout = null;
    SI642Entities db = new SI642Entities();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Linea de Credito</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>

</head>
<body class="nav-fixed">

    <nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
        <a class="navbar-brand d-none d-sm-block" href="@Url.Action("Index", "LinesOfCredit", new { id = LinesOfCreditController.staticId })">&nbsp;&nbsp; @db.LinesOfCredit.Find(LinesOfCreditController.staticId).customer</a>
        <ul class="navbar-nav align-items-center ml-auto">
            <li class="nav-item dropdown no-caret mr-3 dropdown-user">
                <span class="mr-2 d-none d-lg-inline text-gray-900 medium">@User.Identity.Name &nbsp;</span>
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ95GrFuesVVuyyfXOSimzstFtyiQ594yP-DNe0UfbUs_kyqqrM&usqp=CAU" /></a>
                <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                    <h6 class="dropdown-header d-flex align-items-center">
                        <img class="dropdown-user-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ95GrFuesVVuyyfXOSimzstFtyiQ594yP-DNe0UfbUs_kyqqrM&usqp=CAU">
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name">@User.Identity.Name</div>
                            <div class="dropdown-user-details-email">@AuthController.staticEmail</div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href='@Url.Action("Index", "Home")'><div class="dropdown-item-icon"><i data-feather="users"></i></div>Clientes</a>
                    <a class="dropdown-item" href='@Url.Action("Logout", "Auth")'><div class="dropdown-item-icon"><i data-feather="log-out"></i></div>Logout</a>
                </div>
            </li>
        </ul>
    </nav>


    <main>

        <div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
            <div class="container-fluid">
                <div class="page-header-content" style="text-align:center">
                    <br />
                    <br />
                    <br />
                    <br />


                    <p class="page-header-title" style="font-size: 85px;display:inline-block; vertical-align:middle;line-height:normal;" id="totaldaslod">
                        

                    </p>

                    <div style="text-align:center">
                        <p class="page-header-title" style="font-size: 20px;display:inline-block;vertical-align:middle;margin-top: 10px;
                                line-height:normal;" id="nameSaldo">Saldo Disponible</p>


                            </div>
                            <br />

                            <input type="date" id="startio" class="btn btn-white p-3">
                            <br />
                        </div>

                    </div>

                </div>
                <div class="container-fluid mt-n10">
                    <div class="row">
                        <div class="col-lg-4 col-xl-9 mb-4">
                            <div class="card card-header-actions mx-auto">
                                <div class="card-header" style="height: 70px;">
                                    <strong>Últimas 05 actividades</strong>
                                    <div>
                                        <button class="btn btn-pink" type="button" data-toggle="modal" data-target="#registrarGasto" style="font-size: 14px;">
                                            <i data-feather="upload"></i> &nbsp; Gasto
                                        </button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#registrarPago" style="font-size: 14px;">
                                            <i data-feather="download"></i> &nbsp; Pago
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="timeline">
                                        @foreach (var item in ViewBag.Movements)
                                        {
                                            if (!item.isPaid)
                                            {


                                                if (item.description == "deuda a pagar")
                                                {
                                                    <div class="timeline-item">
                                                        <div class="timeline-item-marker">
                                                            <div class="timeline-item-marker-text" style="width: auto;font-size: 15px;color: black;">@item.consumptionDate.ToShortDateString()</div>
                                                            &nbsp;&nbsp;
                                                            <div class="timeline-item-marker-indicator" style="background-color: #E1E9F4;">
                                                                <div class="timeline-item-marker-indicator"><i data-feather="calendar"></i></div>
                                                            </div>

                                                        </div>
                                                        <div class="timeline-item-content" style="font-size: 15px;color: black;">
                                                            &nbsp;&nbsp;
                                                            <strong>
                                                                falta
                                                                &nbsp;&nbsp; @item.movementValue.ToString("0.00") @db.LinesOfCredit.Find(LinesOfCreditController.staticId).currency
                                                            </strong>
                                                            &nbsp;&nbsp; &nbsp;&nbsp;de @item.description
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="timeline-item">
                                                        <div class="timeline-item-marker">
                                                            <div class="timeline-item-marker-text" style="width: auto;font-size: 15px;color: black;">@item.consumptionDate.ToShortDateString()</div>
                                                            &nbsp;&nbsp;
                                                            <div class="timeline-item-marker-indicator" style="background-color: #E1E9F4;">
                                                                <div class="timeline-item-marker-indicator"><i data-feather="calendar"></i></div>
                                                            </div>

                                                        </div>
                                                        <div class="timeline-item-content" style="font-size: 15px;color: black;">
                                                            &nbsp;&nbsp;
                                                            <strong>
                                                                consumo
                                                                &nbsp;&nbsp; @item.movementValue.ToString("0.00") @db.LinesOfCredit.Find(LinesOfCreditController.staticId).currency
                                                            </strong>
                                                            &nbsp;&nbsp; &nbsp;&nbsp;de @item.description
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="timeline-item">
                                                    <div class="timeline-item-marker">
                                                        <div class="timeline-item-marker-text" style="width: auto;font-size: 15px;color: black;">@item.paymentDate.ToShortDateString()</div>
                                                        &nbsp;&nbsp;
                                                        <div class="timeline-item-marker-indicator" style="background-color: #E1E9F4;">
                                                            <div class="timeline-item-marker-indicator"><i data-feather="calendar"></i></div>
                                                        </div>

                                                    </div>
                                                    <div class="timeline-item-content" style="font-size: 15px;color: black;">
                                                        &nbsp;&nbsp;
                                                        <strong>
                                                            abono
                                                            &nbsp;&nbsp; @item.movementValue.ToString("0.00") @db.LinesOfCredit.Find(LinesOfCreditController.staticId).currency
                                                        </strong>
                                                        &nbsp;&nbsp; &nbsp;&nbsp;@item.description
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-xl-3 mb-4">
                            <div class="card bg-dark o-visible mb-4">
                                <div class="card-body">
                                    <h4 class="text-white">Estado de Cuenta</h4>
                                    <p class="text-white-50">Aqui puedes visualizar todos los gastos y pagos realizados en un determinado tiempo.</p>
                                    <img class="float-left" src="/assets/img/drawkit-developer-woman-flush.svg" style="width: 8rem; margin-left: -2.5rem; margin-bottom: -5.5rem;">
                                </div>
                                <div class="card-footer bg-transparent pt-0 border-0 text-right" style="color:white"><a class="btn btn-primary">Ir a la pagina</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            @using (Ajax.BeginForm("RegisterExpenditure", "LinesOfCredit", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "frmExp" }))
            {
                <div class="modal fade" id="registrarGasto" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel"><strong>Registrar Gasto</strong></h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="location.href='@Url.Action("Index", "LinesOfCredit",new { id = LinesOfCreditController.staticId})'">×</span></button>
                            </div>
                            <div class="modal-body" id="frmExp">
                                @Html.Partial("_RegisterExpenditure")
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("Index", "LinesOfCredit",new { id = LinesOfCreditController.staticId})'">Cancelar</button>
                                <button class="btn btn-primary" type="submit">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>

            }


            @using (Ajax.BeginForm("RegisterPayment", "LinesOfCredit", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "frmPay" }))
            {
                <div class="modal fade" id="registrarPago" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel"><strong>Registrar Pago</strong></h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="location.href='@Url.Action("Index", "LinesOfCredit",new { id = LinesOfCreditController.staticId})'">×</span></button>
                            </div>
                            <div class="modal-body" id="frmPay">
                                @Html.Partial("_RegisterPayment")
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("Index", "LinesOfCredit",new { id = LinesOfCreditController.staticId})'">Cancelar</button>
                                <button class="btn btn-primary" type="submit">Confirmar</button>
                            </div>


                        </div>
                    </div>
                </div>
            }
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            <script src="~/js/scripts.js"></script>
            <script src="~/js/sb-customizer.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@


            <script>



                $('#startio').on('change', function () {

                    
                    var fecha = new Date($(this).val())
                    fecha.setDate(fecha.getDate() + 1)

            $.ajax({
                url: '@Url.Action("saldoDisponible", "LinesOfCredit")',
                type: 'POST',
                data: { dataSaldo: $(this).val() }, // This is all you have to change  
                success: function (result) {
                    document.getElementById('totaldaslod').innerHTML = result;
                    options = { year: 'numeric', month: 'long', day: 'numeric' };
                    document.getElementById('nameSaldo').innerHTML = `Saldo Disponible &nbsp;.&nbsp; ${fecha.toLocaleDateString('es-ES', options)}`;
                }
            })



        });
            </script>
        </body>

    </html>
