@using kredi.Controllers;
@using kredi.Models;


@{
    Layout = null;
    SI642Entities db = new SI642Entities();
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title></title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
    <nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
        <a class="navbar-brand d-none d-sm-block" href='@Url.Action("Index", "Home")'>&nbsp;&nbsp; @db.Users.Where(x => x.email == AuthController.staticEmail).FirstOrDefault().nameOfThePlace</a>
        <ul class="navbar-nav align-items-center ml-auto">


            <li class="nav-item dropdown no-caret mr-3 dropdown-user">
                <span class="mr-2 d-none d-lg-inline text-gray-900 medium">@User.Identity.Name &nbsp;</span>
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ95GrFuesVVuyyfXOSimzstFtyiQ594yP-DNe0UfbUs_kyqqrM&usqp=CAU" /></a>
                <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                    <h6 class="dropdown-header d-flex align-items-center">
                        <img class="dropdown-user-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ95GrFuesVVuyyfXOSimzstFtyiQ594yP-DNe0UfbUs_kyqqrM&usqp=CAU">
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name">@User.Identity.Name</div>
                            <div class="dropdown-user-details-email">@AuthController.staticEmail</div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href='@Url.Action("Index", "Home")'><div class="dropdown-item-icon"><i data-feather="users"></i></div>Clientes</a>
                    <a class="dropdown-item" href='@Url.Action("Logout", "Auth")'><div class="dropdown-item-icon"><i data-feather="log-out"></i></div>Logout</a>
                </div>
            </li>

        </ul>
    </nav>


    <main>

        <div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
            <div class="container-fluid">
                <div class="page-header-content">
                    <br />
                    <br />
                    <br />
                    <h1 class="page-header-title">
                        <div class="page-header-icon">&nbsp;<i data-feather="users"></i></div>
                        <span>&nbsp; Clientes</span>
                    </h1>
                    <div class="page-header-subtitle">&nbsp; Aquí puede visualizar a todos sus clientes que participan.</div>
                </div>
            </div>

        </div>
        <div class="container-fluid mt-n10">
            <div class="row">
                <div class="col-lg-4 col-xl-3 mb-4">
                    <div class="col-xl-12 col-lg-9 col-md-8 col-sm-11">
                        <div class="card text-center h-100">
                            <div class="card-body px-5 pt-5 d-flex flex-column">
                                <div>
                                    <div class="h3 text-primary font-weight-300"><strong>Agregar</strong></div>
                                    <p class="text-muted mb-4">a un nuevo cliente a la plantilla</p>
                                </div>
                                <div class="icons-org-create align-items-center mx-auto mt-auto"><i class="icon-users" data-feather="users"></i><i class="icon-plus fas fa-plus"></i></div>
                            </div>
                            <div class="card-footer bg-transparent px-5 py-4">
                                <div class="small text-center">
                                    <button class="btn btn-block btn-primary" type="button" data-toggle="modal" data-target="#agregarCliente">Agregar Cliente</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-9 mb-4">
                    <div class="card mb-4">
                        <div class="card-header"><br /></div>
                        <div class="card-body">
                            <div class="datatable table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>

                                            <th>Nombre y Apellidos</th>
                                            <th>Límite del Credito</th>
                                            <th>Tasa de Interes</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody style="color: black;">




                                        @foreach (var item in ViewBag.Clients)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center flex-shrink-0 mr-3">
                                                        <div class="avatar avatar-xl mr-3 bg-gray-200"><img class="avatar-img img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ95GrFuesVVuyyfXOSimzstFtyiQ594yP-DNe0UfbUs_kyqqrM&usqp=CAU" alt=""></div>
                                                        <div class="d-flex flex-column font-weight-bold">
                                                            <a class="text-dark line-height-normal mb-1" href="@Url.Action("Index", "LinesOfCredit", new { id = item.id })">@item.customer</a>
                                                            <div class="small text-muted line-height-normal">Id &nbsp;# @item.id</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="display: table-cell;vertical-align: middle;">@item.amount.ToString("0.00") @item.currency</td>
                                                <td style="display: table-cell;vertical-align: middle;">@item.rateType @item.rateTime &nbsp; @item.rateValue %</td>
                                                <td style="display: table-cell;vertical-align: middle;">

                                                    <a class="btn btn-light btn-xs" href="@Url.Action("EditClient", "Home", new { id = item.id })">
                                                        Editar
                                                    </a>
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </main>

    @using (Ajax.BeginForm("AddClient", "Home", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "frmEmp" }))
    {

       

        <div class="modal fade" id="agregarCliente" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"><strong>Registrar Cliente</strong></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="location.href='@Url.Action("Index", "Home")'">×</span></button>
                        
                    </div>
                    <div class="modal-body" id="frmEmp">
                        @Html.Partial("_AddClient")
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("Index", "Home")'">Cancelar</button>
                        <button class="btn btn-primary" type="submit">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>



    }




    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/datatables-demo.js"></script>
    <script src="~/js/sb-customizer.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>

</html>
